git+https://github.com/ParrotXray/lava-lyra
git+https://github.com/Rapptz/discord.py
git+https://github.com/ro-py/ro.py
git+https://github.com/wonbot/uwuipy
aiobotocore
aiofile
aiohttp_cors
aiomisc
arrow
async_lru
asyncpg
asyncpraw
asyncspotify
beautifulsoup4
boltons
cairosvg
cashews
chat_exporter
colorama
colorthief
cryptography
dateparser
discord_ios
dnspython
fastapi
ffmpeg-python>=0.2.0
gitpython
httpx
humanfriendly
humanize
jishaku
lru_dict
lxml
matplotlib
moviepy
msgpack
nudenet
orjson
parsedatetime
playwright
plotly
posthog
psutil
pycryptodome
pydantic
pydub
pylast
PyNaCl
pyparsing
python-dateutil
python-dotenv
python-multipart
rapidfuzz
redis
rich
scipy
shazamio
slowapi
stackprinter
tornado
typing_extensions
unidecode
uvicorn
validators
wand
xmltodict
xxhash
yt-dlp>=2023.12.30